# Ignore dotenv files
.env
.env.*

# Ignore IDE-specific directories
.idea/
.vscode/
settings/

# Ignore IDE-specific files
*.code-workspace
.project

# Ignore node-modules directories
client/node_modules
node_modules
